body {
 margin: 0;
 background-image: url("gris.jpg");
 background-size: cover;
 display: flex;
 align-items: center;
 height: 100vh;
}


.gameboard {
 height: 100vh;
 width: 100vh;
 border-radius: 50%;
 overflow: hidden;
 margin: 0 auto;
 max-height: 60vh;
 max-width: 60vh;
}

.color {
 width: 50%;
 height: 50%;
 display: inline-block;
}

.left {
 float: left;
}

.right {
 float: left;
}

/*ROJO*/
.celeste {
 background: #CC0000;
}

.celeste.light {
 background: #FFCCCC;
}

/* AZUL */
.violeta {
 background: #000099;
}

.violeta.light {
 background: #66B2FF;

}

/* AMARILLO */
.naranja {
 background: #FFFF00;
}

.naranja.light {
 background: #FFFF99;
}

.verde {
 background: #006600;
}

.verde.light {
 background: #FFFFCC;
}

.btn-start {
 width: 400px;
 height: 100px;
 background: #ecf0f1;
 color: #2c3e50;
 font-size: 2.5rem;
 position: absolute;
 top: calc(50% - 50px);
 left: calc(50% - 200px);
 border-radius:13px;
 opacity: 0.70;
}

.hide {
 display: none;
}

*{
font-family:'Arial';
}
